baslik{
    display:block;
font-weight:bold;
margin-bottom: 24px;
font-size: 35px;
}


misra {
     display:block;
}

dortluk {
    display:block;
margin: bottom 16px;
}
sair{
    font-weight:bold;
    display:block;
font-style: italic;
}